# Global node modules
**/node_modules/

# Log files
**/*.log

# Env files (from all services)
**/.env
**/.env.*

# Docker and deploy copies
docker-compose copy.yml
deploy copy.yml

# Optional: VSCode settings and OS files
.vscode/
.DS_Store
Thumbs.db
